USE [Inventory]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 19/06/1399 11:45:09 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 19/06/1399 11:45:09 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [uniqueidentifier] NOT NULL,
	[ProvinceId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[IsCenter] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customers]    Script Date: 19/06/1399 11:45:09 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InputDetails]    Script Date: 19/06/1399 11:45:09 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InputDetails](
	[Id] [uniqueidentifier] NOT NULL,
	[InputId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[DestinationWeight] [decimal](18, 2) NOT NULL,
	[SourceWeight] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.InputDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Inputs]    Script Date: 19/06/1399 11:45:09 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inputs](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](max) NULL,
	[InputDate] [datetime] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[InputTime] [nvarchar](max) NULL,
	[PostRentAmount] [decimal](18, 2) NULL,
	[WeighbridgeAmount] [decimal](18, 2) NULL,
	[OtherAmount] [decimal](18, 2) NULL,
	[CommissionAmount] [decimal](18, 2) NULL,
	[SourceWeight] [decimal](18, 2) NULL,
	[DestinationWeight] [decimal](18, 2) NOT NULL,
	[FullWeight] [decimal](18, 2) NULL,
	[EmptyWeight] [decimal](18, 2) NULL,
	[TransporterCode] [nvarchar](max) NULL,
	[TransporterId] [uniqueidentifier] NOT NULL,
	[CityId] [uniqueidentifier] NOT NULL,
	[CarNumber] [nvarchar](max) NULL,
	[InputDesc] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Inputs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductCreators]    Script Date: 19/06/1399 11:45:09 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCreators](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductCreators] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductForms]    Script Date: 19/06/1399 11:45:09 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductForms](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductForms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductGroups]    Script Date: 19/06/1399 11:45:09 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductGroups](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Code] [int] NOT NULL,
	[InventoryAmount] [decimal](18, 2) NOT NULL,
	[ProductGroupUnitId] [uniqueidentifier] NOT NULL,
	[Density] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductGroupUnits]    Script Date: 19/06/1399 11:45:09 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductGroupUnits](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductGroupUnits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 19/06/1399 11:45:09 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[ProductGroupId] [uniqueidentifier] NOT NULL,
	[ProductFormId] [uniqueidentifier] NOT NULL,
	[ProductCreatorId] [uniqueidentifier] NOT NULL,
	[ProductStatusId] [uniqueidentifier] NOT NULL,
	[Length] [decimal](18, 2) NOT NULL,
	[Thickness] [decimal](18, 2) NOT NULL,
	[Width] [decimal](18, 2) NOT NULL,
	[Weight] [decimal](18, 2) NOT NULL,
	[IsPureWeight] [bit] NOT NULL,
	[Grid] [nvarchar](max) NULL,
	[Other] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductStatus]    Script Date: 19/06/1399 11:45:09 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductStatus](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 19/06/1399 11:45:09 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Provinces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 19/06/1399 11:45:09 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Transporters]    Script Date: 19/06/1399 11:45:09 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transporters](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Transporters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 19/06/1399 11:45:09 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Code] [int] NOT NULL,
	[Password] [nvarchar](150) NULL,
	[FullName] [nvarchar](250) NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Cities] ([Id], [ProvinceId], [Title], [IsCenter], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'19053b96-734f-497f-8338-000096531596', N'f2158969-4dac-4414-b888-2aa05ce2c8d1', N'مهاباد', 0, 1, CAST(N'2018-05-31 14:14:51.487' AS DateTime), CAST(N'2018-05-31 14:14:51.487' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[Cities] ([Id], [ProvinceId], [Title], [IsCenter], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'c27819af-0ea2-4953-9c2e-004c85624cf8', N'820b3938-3849-41b5-9abc-68d13801e8c3', N'صباشهر', 0, 1, CAST(N'2018-05-31 14:14:52.023' AS DateTime), CAST(N'2018-05-31 14:14:52.023' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[Cities] ([Id], [ProvinceId], [Title], [IsCenter], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'1ad56132-413a-4472-9661-00cba21db95c', N'abb96acf-a178-4745-9c49-dabff0689133', N'مرجغل', 0, 1, CAST(N'2018-05-31 14:14:56.843' AS DateTime), CAST(N'2018-05-31 14:14:56.843' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[Customers] ([Id], [FullName], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'eb7bf218-f376-4e97-a233-1adec097b43a', N'آهن آنلاین', 1, CAST(N'2020-09-06 09:44:30.180' AS DateTime), CAST(N'2020-09-06 09:44:30.180' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[Customers] ([Id], [FullName], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'a10e82ef-2e22-49d6-b222-58c79f1b4fa3', N'لواسانی', 1, CAST(N'2020-09-06 09:44:23.373' AS DateTime), CAST(N'2020-09-06 09:44:23.373' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[Provinces] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'49708ef7-3a9e-4545-8230-040bf7f7118e', N'همدان', 1, CAST(N'2018-05-31 14:14:58.643' AS DateTime), CAST(N'2018-05-31 14:14:58.643' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[Provinces] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'977716f2-a50b-4f2b-b616-0bc6a93995c0', N'کهکیلویه و بویر احمد', 1, CAST(N'2018-05-31 14:14:55.803' AS DateTime), CAST(N'2018-05-31 14:14:55.803' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[Provinces] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'195c04df-fd01-413b-b90e-0cbd6fa2419e', N'فارس', 1, CAST(N'2018-05-31 14:14:53.650' AS DateTime), CAST(N'2018-05-31 14:14:53.650' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[Roles] ([Id], [Title], [Name], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'397cfc9f-251c-48b9-91d7-1836ec64c28e', N'راهبر ویژه', N'superAdministrator', 1, CAST(N'2020-09-06 08:22:23.973' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[Roles] ([Id], [Title], [Name], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'c6b7338a-f0bc-4296-9d33-4fb719242d8a', N'اپراتور', N'operator', 1, CAST(N'2020-09-06 08:22:24.093' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[Roles] ([Id], [Title], [Name], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'22b9c114-9b17-43df-9cfa-d925ff30a74e', N'راهبر', N'administrator', 1, CAST(N'2020-09-06 08:22:24.083' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[Transporters] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'a4c02caa-ede9-4cd5-b8b3-193e6c1865c8', N'باربری 11', 0, CAST(N'2020-09-06 08:24:18.000' AS DateTime), CAST(N'2020-09-06 08:24:33.283' AS DateTime), 1, CAST(N'2020-09-06 08:24:33.283' AS DateTime), NULL)
GO
INSERT [dbo].[Transporters] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'7a92f640-1543-4fe9-8c8b-9fd6aafd557d', N'باربری 2', 1, CAST(N'2020-09-06 08:24:48.217' AS DateTime), CAST(N'2020-09-06 08:24:48.217' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[Transporters] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'f0a9820a-fd81-4a94-8ac2-b76aaf24c035', N'باربری 1', 1, CAST(N'2020-09-06 08:24:41.870' AS DateTime), CAST(N'2020-09-06 08:24:41.870' AS DateTime), 0, NULL, NULL)
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cities_dbo.Provinces_ProvinceId] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Provinces] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_dbo.Cities_dbo.Provinces_ProvinceId]
GO
ALTER TABLE [dbo].[InputDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InputDetails_dbo.Inputs_InputId] FOREIGN KEY([InputId])
REFERENCES [dbo].[Inputs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InputDetails] CHECK CONSTRAINT [FK_dbo.InputDetails_dbo.Inputs_InputId]
GO
ALTER TABLE [dbo].[InputDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InputDetails_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InputDetails] CHECK CONSTRAINT [FK_dbo.InputDetails_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[Inputs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Inputs_dbo.Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inputs] CHECK CONSTRAINT [FK_dbo.Inputs_dbo.Cities_CityId]
GO
ALTER TABLE [dbo].[Inputs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Inputs_dbo.Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inputs] CHECK CONSTRAINT [FK_dbo.Inputs_dbo.Customers_CustomerId]
GO
ALTER TABLE [dbo].[Inputs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Inputs_dbo.Transporters_TransporterId] FOREIGN KEY([TransporterId])
REFERENCES [dbo].[Transporters] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inputs] CHECK CONSTRAINT [FK_dbo.Inputs_dbo.Transporters_TransporterId]
GO
ALTER TABLE [dbo].[ProductGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductGroups_dbo.ProductGroupUnits_ProductGroupUnitId] FOREIGN KEY([ProductGroupUnitId])
REFERENCES [dbo].[ProductGroupUnits] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductGroups] CHECK CONSTRAINT [FK_dbo.ProductGroups_dbo.ProductGroupUnits_ProductGroupUnitId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.ProductCreators_ProductCreatorId] FOREIGN KEY([ProductCreatorId])
REFERENCES [dbo].[ProductCreators] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.ProductCreators_ProductCreatorId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.ProductForms_ProductFormId] FOREIGN KEY([ProductFormId])
REFERENCES [dbo].[ProductForms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.ProductForms_ProductFormId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.ProductGroups_ProductGroupId] FOREIGN KEY([ProductGroupId])
REFERENCES [dbo].[ProductGroups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.ProductGroups_ProductGroupId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.ProductStatus_ProductStatusId] FOREIGN KEY([ProductStatusId])
REFERENCES [dbo].[ProductStatus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.ProductStatus_ProductStatusId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId]
GO
