USE [Inventory]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 09/09/1399 03:59:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 09/09/1399 03:59:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [uniqueidentifier] NOT NULL,
	[ProvinceId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[IsCenter] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customers]    Script Date: 09/09/1399 03:59:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[CellNumber] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CutDetailTypes]    Script Date: 09/09/1399 03:59:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CutDetailTypes](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CutDetailTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CutOrderDetails]    Script Date: 09/09/1399 03:59:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CutOrderDetails](
	[Id] [uniqueidentifier] NOT NULL,
	[CutOrderId] [uniqueidentifier] NOT NULL,
	[CutDetailTypeId] [uniqueidentifier] NOT NULL,
	[Weight] [decimal](18, 2) NOT NULL,
	[Length] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CutOrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CutOrders]    Script Date: 09/09/1399 03:59:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CutOrders](
	[Id] [uniqueidentifier] NOT NULL,
	[CutTypeId] [uniqueidentifier] NOT NULL,
	[InputDetailId] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CutOrders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CutTypes]    Script Date: 09/09/1399 03:59:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CutTypes](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CutTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ExitDetails]    Script Date: 09/09/1399 03:59:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExitDetails](
	[Id] [uniqueidentifier] NOT NULL,
	[ExitId] [uniqueidentifier] NOT NULL,
	[InputDetailId] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[InitialQuantity] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[InitialWeight] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[FullWeight] [decimal](18, 2) NULL,
	[EmptyWeight] [decimal](18, 2) NULL,
	[PureWeight] [decimal](18, 2) NULL,
 CONSTRAINT [PK_dbo.ExitDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ExitDrivers]    Script Date: 09/09/1399 03:59:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExitDrivers](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ExitDrivers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Exits]    Script Date: 09/09/1399 03:59:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exits](
	[Id] [uniqueidentifier] NOT NULL,
	[ExitDate] [datetime] NOT NULL,
	[CustomerId] [uniqueidentifier] NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[CarNumber] [nvarchar](max) NULL,
	[DriverPhone] [nvarchar](max) NULL,
	[ExitDriverId] [uniqueidentifier] NULL,
	[ExitComplete] [bit] NOT NULL DEFAULT ((0)),
	[Order] [int] NOT NULL DEFAULT ((0)),
	[Code] [int] NULL,
	[InventoryAmount] [decimal](18, 2) NULL,
	[LoadAmount] [decimal](18, 2) NULL,
	[WeighbridgeAmount] [decimal](18, 2) NULL,
	[OtherAmount] [decimal](18, 2) NULL,
	[CutAmount] [decimal](18, 2) NULL,
	[SubTotalAmount] [decimal](18, 2) NULL,
	[Vat] [decimal](18, 2) NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[PaymentAmount] [decimal](18, 2) NULL,
	[RemainAmount] [decimal](18, 2) NULL,
 CONSTRAINT [PK_dbo.Exits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InputDetails]    Script Date: 09/09/1399 03:59:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InputDetails](
	[Id] [uniqueidentifier] NOT NULL,
	[InputId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[DestinationWeight] [decimal](18, 2) NOT NULL,
	[SourceWeight] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[ParentId] [uniqueidentifier] NULL,
	[OrderId] [uniqueidentifier] NULL,
	[RemainQuantity] [decimal](18, 2) NOT NULL,
	[RemainDestinationWeight] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[InputDetailStatusId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.InputDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InputDetailStatus]    Script Date: 09/09/1399 03:59:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InputDetailStatus](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Code] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.InputDetailStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Inputs]    Script Date: 09/09/1399 03:59:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inputs](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [int] NOT NULL,
	[InputDate] [datetime] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[InputTime] [nvarchar](max) NULL,
	[PostRentAmount] [decimal](18, 2) NULL,
	[WeighbridgeAmount] [decimal](18, 2) NULL,
	[OtherAmount] [decimal](18, 2) NULL,
	[CommissionAmount] [decimal](18, 2) NULL,
	[SourceWeight] [decimal](18, 2) NULL,
	[DestinationWeight] [decimal](18, 2) NOT NULL,
	[FullWeight] [decimal](18, 2) NULL,
	[EmptyWeight] [decimal](18, 2) NULL,
	[TransporterCode] [nvarchar](max) NULL,
	[TransporterId] [uniqueidentifier] NOT NULL,
	[CityId] [uniqueidentifier] NOT NULL,
	[CarNumber] [nvarchar](max) NULL,
	[InputDesc] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Inputs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 09/09/1399 03:59:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](max) NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[ParentId] [uniqueidentifier] NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[IsMultyProduct] [bit] NOT NULL DEFAULT ((0)),
	[ProductId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductCreators]    Script Date: 09/09/1399 03:59:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCreators](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductCreators] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductForms]    Script Date: 09/09/1399 03:59:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductForms](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductForms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductGroups]    Script Date: 09/09/1399 03:59:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductGroups](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Code] [int] NOT NULL,
	[InventoryAmount] [decimal](18, 2) NOT NULL,
	[ProductGroupUnitId] [uniqueidentifier] NOT NULL,
	[Density] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductGroupUnits]    Script Date: 09/09/1399 03:59:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductGroupUnits](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductGroupUnits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 09/09/1399 03:59:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[ProductGroupId] [uniqueidentifier] NOT NULL,
	[ProductFormId] [uniqueidentifier] NOT NULL,
	[ProductCreatorId] [uniqueidentifier] NOT NULL,
	[ProductStatusId] [uniqueidentifier] NOT NULL,
	[Length] [decimal](18, 2) NOT NULL,
	[Thickness] [decimal](18, 2) NOT NULL,
	[Width] [decimal](18, 2) NOT NULL,
	[Weight] [decimal](18, 2) NOT NULL,
	[IsPureWeight] [bit] NOT NULL,
	[Grid] [nvarchar](max) NULL,
	[Other] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductStatus]    Script Date: 09/09/1399 03:59:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductStatus](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 09/09/1399 03:59:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Provinces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 09/09/1399 03:59:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Transporters]    Script Date: 09/09/1399 03:59:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transporters](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Transporters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 09/09/1399 03:59:14 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Code] [int] NOT NULL,
	[Password] [nvarchar](150) NULL,
	[FullName] [nvarchar](250) NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Cities] ([Id], [ProvinceId], [Title], [IsCenter], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'19053b96-734f-497f-8338-000096531596', N'f2158969-4dac-4414-b888-2aa05ce2c8d1', N'مهاباد', 0, 1, CAST(N'2018-05-31 14:14:51.487' AS DateTime), CAST(N'2018-05-31 14:14:51.487' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[Cities] ([Id], [ProvinceId], [Title], [IsCenter], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'c27819af-0ea2-4953-9c2e-004c85624cf8', N'820b3938-3849-41b5-9abc-68d13801e8c3', N'صباشهر', 0, 1, CAST(N'2018-05-31 14:14:52.023' AS DateTime), CAST(N'2018-05-31 14:14:52.023' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[Cities] ([Id], [ProvinceId], [Title], [IsCenter], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'1ad56132-413a-4472-9661-00cba21db95c', N'abb96acf-a178-4745-9c49-dabff0689133', N'مرجغل', 0, 1, CAST(N'2018-05-31 14:14:56.843' AS DateTime), CAST(N'2018-05-31 14:14:56.843' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[Customers] ([Id], [FullName], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description], [CellNumber]) VALUES (N'eb7bf218-f376-4e97-a233-1adec097b43a', N'آهن آنلاین', 1, CAST(N'2020-09-06 09:44:30.180' AS DateTime), CAST(N'2020-09-06 09:44:30.180' AS DateTime), 0, NULL, NULL, NULL)
GO
INSERT [dbo].[Customers] ([Id], [FullName], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description], [CellNumber]) VALUES (N'a10e82ef-2e22-49d6-b222-58c79f1b4fa3', N'لواسانی', 1, CAST(N'2020-09-06 09:44:23.373' AS DateTime), CAST(N'2020-09-06 09:44:23.373' AS DateTime), 0, NULL, NULL, NULL)
GO
INSERT [dbo].[Customers] ([Id], [FullName], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description], [CellNumber]) VALUES (N'aed2abda-30bd-4ae6-b5b8-e1d6d28c366c', N'صادقی', 1, CAST(N'2020-11-01 10:03:13.067' AS DateTime), CAST(N'2020-11-01 10:03:13.067' AS DateTime), 0, NULL, NULL, NULL)
GO
INSERT [dbo].[CutDetailTypes] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'902c0a87-7a0e-49b8-9465-cbb949d1267f', N'صاف', 1, CAST(N'2020-10-05 09:41:11.317' AS DateTime), CAST(N'2020-10-05 09:41:11.317' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[CutTypes] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'ede78beb-5099-49d2-b7e8-0aacfa7eb7bf', N'عرشه فولادی', 1, CAST(N'2020-10-05 09:40:58.517' AS DateTime), CAST(N'2020-10-05 09:40:58.517' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[CutTypes] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'd23d857a-5b23-4849-a2b1-2a8de47c68ec', N'صاف', 1, CAST(N'2020-10-05 09:40:49.050' AS DateTime), CAST(N'2020-10-05 09:40:49.050' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[CutTypes] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'e1e2ca0c-a10a-4cb6-bb1b-50e05cc4ab94', N'رول به رول', 1, CAST(N'2020-10-05 09:40:31.003' AS DateTime), CAST(N'2020-10-05 09:40:31.003' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[ExitDrivers] ([Id], [FullName], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'c0956a66-2be9-4b98-96ca-1f3c4c50aed0', N'زارعی', 1, CAST(N'2020-11-09 09:38:52.320' AS DateTime), CAST(N'2020-11-09 09:38:52.320' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[ExitDrivers] ([Id], [FullName], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'c24298cd-f41a-480a-b7b6-359db34f64a8', N'بیگی', 1, CAST(N'2020-11-09 09:38:57.543' AS DateTime), CAST(N'2020-11-09 09:38:57.543' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[ExitDrivers] ([Id], [FullName], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'd42b8d06-6e10-4028-8e36-ac887127bf5a', N'احمدی', 1, CAST(N'2020-11-09 09:38:44.437' AS DateTime), CAST(N'2020-11-09 09:38:44.437' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[InputDetailStatus] ([Id], [Title], [Code], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'd470cf2b-b34b-4043-b5a6-4ac6e84ce314', N'موجود', 1, 1, CAST(N'2020-11-08 19:05:49.600' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[InputDetailStatus] ([Id], [Title], [Code], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'2abc7440-f669-4d8c-8852-7c54f394a830', N'در حال بارگیری', 2, 1, CAST(N'2020-11-08 19:05:49.850' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[InputDetailStatus] ([Id], [Title], [Code], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'67c73dd8-d83f-4cdc-8d63-cebbab636510', N'ناموجود', 3, 1, CAST(N'2020-11-08 19:05:49.857' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[Orders] ([Id], [Code], [CustomerId], [ParentId], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description], [IsMultyProduct], [ProductId]) VALUES (N'f2f8f53e-8275-4871-aa1c-24122a5cef2e', N'99/8/2', N'eb7bf218-f376-4e97-a233-1adec097b43a', NULL, 1, CAST(N'2020-11-10 08:58:45.517' AS DateTime), CAST(N'2020-11-10 08:58:45.517' AS DateTime), 0, NULL, NULL, 0, N'2a9c0420-ea78-4e7f-9eaa-c53b525fbf32')
GO
INSERT [dbo].[Orders] ([Id], [Code], [CustomerId], [ParentId], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description], [IsMultyProduct], [ProductId]) VALUES (N'a6ec3420-76f7-4e7f-973d-328cd2271983', N'99/8/2/1', N'aed2abda-30bd-4ae6-b5b8-e1d6d28c366c', N'f2f8f53e-8275-4871-aa1c-24122a5cef2e', 1, CAST(N'2020-11-10 09:03:37.483' AS DateTime), CAST(N'2020-11-10 09:03:37.483' AS DateTime), 0, NULL, NULL, 0, NULL)
GO
INSERT [dbo].[Orders] ([Id], [Code], [CustomerId], [ParentId], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description], [IsMultyProduct], [ProductId]) VALUES (N'2f926aca-ffba-4c78-bd18-aa15214200ea', N'99/8/1', N'eb7bf218-f376-4e97-a233-1adec097b43a', NULL, 1, CAST(N'2020-11-10 08:55:43.577' AS DateTime), CAST(N'2020-11-10 08:55:43.577' AS DateTime), 0, NULL, NULL, 0, N'42d5e040-7909-44b2-b76a-aab8374fc431')
GO
INSERT [dbo].[ProductCreators] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'b11adea9-9ae4-4eb9-a0a5-12644ffa7629', N'اراک', 1, CAST(N'2020-09-20 11:59:57.180' AS DateTime), CAST(N'2020-09-20 11:59:57.180' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[ProductCreators] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'83da94d5-502a-4b7c-9ed2-7f52c986afe9', N'تایوان', 1, CAST(N'2020-09-20 12:00:07.127' AS DateTime), CAST(N'2020-09-20 12:00:07.127' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[ProductCreators] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'86a677da-b5d1-4661-a6af-bbfe78d25e3e', N'چین', 1, CAST(N'2020-09-20 12:00:02.037' AS DateTime), CAST(N'2020-09-20 12:00:02.037' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[ProductForms] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'58df76f9-91b7-4a6f-900e-50ed7b211a7f', N'آجدار', 1, CAST(N'2020-09-20 12:00:33.593' AS DateTime), CAST(N'2020-09-20 12:00:33.593' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[ProductForms] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'04c1be2b-f97b-420b-a150-579cded29691', N'حلب', 1, CAST(N'2020-09-20 12:00:53.463' AS DateTime), CAST(N'2020-09-20 12:00:53.463' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[ProductForms] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'0dfd8dc1-1eb3-44a0-baf0-86ca9dfbdd1e', N'رول', 1, CAST(N'2020-09-20 12:01:03.870' AS DateTime), CAST(N'2020-09-20 12:01:03.870' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[ProductGroups] ([Id], [Title], [Code], [InventoryAmount], [ProductGroupUnitId], [Density], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'd47a81bf-21a9-4304-90e7-40df730f1087', N'گالوانیزه', 4, CAST(600000.00 AS Decimal(18, 2)), N'7f48a15a-72d6-46c0-9bbe-4e48aeb25265', CAST(7.00 AS Decimal(18, 2)), 1, CAST(N'2020-11-10 08:47:57.777' AS DateTime), CAST(N'2020-11-10 08:47:57.777' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[ProductGroups] ([Id], [Title], [Code], [InventoryAmount], [ProductGroupUnitId], [Density], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'e81728ba-fa7f-4e18-9f8e-44be87952ea8', N'پروفیل', 21, CAST(400000.00 AS Decimal(18, 2)), N'6b7a401f-e831-40f1-9fa9-987a1d23e0e5', CAST(1.00 AS Decimal(18, 2)), 1, CAST(N'2020-09-20 10:58:14.420' AS DateTime), CAST(N'2020-09-20 10:58:14.420' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[ProductGroups] ([Id], [Title], [Code], [InventoryAmount], [ProductGroupUnitId], [Density], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'55e5a561-dc16-409f-80f6-7b9e9955f1e0', N'پشم شیشه', 36, CAST(400000.00 AS Decimal(18, 2)), N'a111430b-fd8f-41c9-936a-3714de7b3e7f', CAST(1.00 AS Decimal(18, 2)), 1, CAST(N'2020-09-20 10:58:34.227' AS DateTime), CAST(N'2020-09-20 10:58:34.227' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[ProductGroupUnits] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'a1d7861f-3ae0-4853-9633-2c3454d06313', N'بسته', 1, CAST(N'2020-09-20 10:57:17.000' AS DateTime), CAST(N'2020-09-20 10:57:17.000' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[ProductGroupUnits] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'a111430b-fd8f-41c9-936a-3714de7b3e7f', N'رول / کیلوگرم', 1, CAST(N'2020-09-20 10:56:54.667' AS DateTime), CAST(N'2020-09-20 10:56:54.667' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[ProductGroupUnits] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'e634f060-cdef-4e46-a1b3-495052ab5699', N'دستگاه', 1, CAST(N'2020-09-20 10:57:24.127' AS DateTime), CAST(N'2020-09-20 10:57:24.127' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[ProductStatus] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'ed75558a-15ac-4b56-a425-043fc895aabd', N'فول هارد', 1, CAST(N'2020-09-20 11:59:17.367' AS DateTime), CAST(N'2020-09-20 11:59:17.367' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[ProductStatus] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'384319fc-a3e4-4141-970e-3c7bff6179f7', N'قلع اندود', 1, CAST(N'2020-09-20 11:59:29.793' AS DateTime), CAST(N'2020-09-20 11:59:29.793' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[ProductStatus] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'7dc35c9b-37ea-4312-aa09-4b27bd1ab5b7', N'فویل', 1, CAST(N'2020-09-20 11:59:23.177' AS DateTime), CAST(N'2020-09-20 11:59:23.177' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[Provinces] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'49708ef7-3a9e-4545-8230-040bf7f7118e', N'همدان', 1, CAST(N'2018-05-31 14:14:58.643' AS DateTime), CAST(N'2018-05-31 14:14:58.643' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[Provinces] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'977716f2-a50b-4f2b-b616-0bc6a93995c0', N'کهکیلویه و بویر احمد', 1, CAST(N'2018-05-31 14:14:55.803' AS DateTime), CAST(N'2018-05-31 14:14:55.803' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[Provinces] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'195c04df-fd01-413b-b90e-0cbd6fa2419e', N'فارس', 1, CAST(N'2018-05-31 14:14:53.650' AS DateTime), CAST(N'2018-05-31 14:14:53.650' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[Roles] ([Id], [Title], [Name], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'397cfc9f-251c-48b9-91d7-1836ec64c28e', N'راهبر ویژه', N'superAdministrator', 1, CAST(N'2020-09-06 08:22:23.973' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[Roles] ([Id], [Title], [Name], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'c6b7338a-f0bc-4296-9d33-4fb719242d8a', N'اپراتور', N'operator', 1, CAST(N'2020-09-06 08:22:24.093' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[Roles] ([Id], [Title], [Name], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'22b9c114-9b17-43df-9cfa-d925ff30a74e', N'راهبر', N'administrator', 1, CAST(N'2020-09-06 08:22:24.083' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[Transporters] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'a4c02caa-ede9-4cd5-b8b3-193e6c1865c8', N'باربری 11', 0, CAST(N'2020-09-06 08:24:18.000' AS DateTime), CAST(N'2020-09-06 08:24:33.283' AS DateTime), 1, CAST(N'2020-09-06 08:24:33.283' AS DateTime), NULL)
GO
INSERT [dbo].[Transporters] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'7a92f640-1543-4fe9-8c8b-9fd6aafd557d', N'باربری 2', 1, CAST(N'2020-09-06 08:24:48.217' AS DateTime), CAST(N'2020-09-06 08:24:48.217' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[Transporters] ([Id], [Title], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'f0a9820a-fd81-4a94-8ac2-b76aaf24c035', N'باربری 1', 1, CAST(N'2020-09-06 08:24:41.870' AS DateTime), CAST(N'2020-09-06 08:24:41.870' AS DateTime), 0, NULL, NULL)
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cities_dbo.Provinces_ProvinceId] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Provinces] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_dbo.Cities_dbo.Provinces_ProvinceId]
GO
ALTER TABLE [dbo].[CutOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CutOrderDetails_dbo.CutDetailTypes_CutDetailTypeId] FOREIGN KEY([CutDetailTypeId])
REFERENCES [dbo].[CutDetailTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CutOrderDetails] CHECK CONSTRAINT [FK_dbo.CutOrderDetails_dbo.CutDetailTypes_CutDetailTypeId]
GO
ALTER TABLE [dbo].[CutOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CutOrderDetails_dbo.CutOrders_CutOrderId] FOREIGN KEY([CutOrderId])
REFERENCES [dbo].[CutOrders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CutOrderDetails] CHECK CONSTRAINT [FK_dbo.CutOrderDetails_dbo.CutOrders_CutOrderId]
GO
ALTER TABLE [dbo].[CutOrders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CutOrders_dbo.CutTypes_CutTypeId] FOREIGN KEY([CutTypeId])
REFERENCES [dbo].[CutTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CutOrders] CHECK CONSTRAINT [FK_dbo.CutOrders_dbo.CutTypes_CutTypeId]
GO
ALTER TABLE [dbo].[CutOrders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CutOrders_dbo.InputDetails_InputDetailId] FOREIGN KEY([InputDetailId])
REFERENCES [dbo].[InputDetails] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CutOrders] CHECK CONSTRAINT [FK_dbo.CutOrders_dbo.InputDetails_InputDetailId]
GO
ALTER TABLE [dbo].[ExitDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExitDetails_dbo.Exits_ExitId] FOREIGN KEY([ExitId])
REFERENCES [dbo].[Exits] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExitDetails] CHECK CONSTRAINT [FK_dbo.ExitDetails_dbo.Exits_ExitId]
GO
ALTER TABLE [dbo].[ExitDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExitDetails_dbo.InputDetails_InputDetailId] FOREIGN KEY([InputDetailId])
REFERENCES [dbo].[InputDetails] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExitDetails] CHECK CONSTRAINT [FK_dbo.ExitDetails_dbo.InputDetails_InputDetailId]
GO
ALTER TABLE [dbo].[Exits]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Exits_dbo.Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Exits] CHECK CONSTRAINT [FK_dbo.Exits_dbo.Customers_CustomerId]
GO
ALTER TABLE [dbo].[Exits]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Exits_dbo.ExitDrivers_ExitDriverId] FOREIGN KEY([ExitDriverId])
REFERENCES [dbo].[ExitDrivers] ([Id])
GO
ALTER TABLE [dbo].[Exits] CHECK CONSTRAINT [FK_dbo.Exits_dbo.ExitDrivers_ExitDriverId]
GO
ALTER TABLE [dbo].[InputDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InputDetails_dbo.InputDetails_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[InputDetails] ([Id])
GO
ALTER TABLE [dbo].[InputDetails] CHECK CONSTRAINT [FK_dbo.InputDetails_dbo.InputDetails_ParentId]
GO
ALTER TABLE [dbo].[InputDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InputDetails_dbo.InputDetailStatus_InputDetailStatusId] FOREIGN KEY([InputDetailStatusId])
REFERENCES [dbo].[InputDetailStatus] ([Id])
GO
ALTER TABLE [dbo].[InputDetails] CHECK CONSTRAINT [FK_dbo.InputDetails_dbo.InputDetailStatus_InputDetailStatusId]
GO
ALTER TABLE [dbo].[InputDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InputDetails_dbo.Inputs_InputId] FOREIGN KEY([InputId])
REFERENCES [dbo].[Inputs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InputDetails] CHECK CONSTRAINT [FK_dbo.InputDetails_dbo.Inputs_InputId]
GO
ALTER TABLE [dbo].[InputDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InputDetails_dbo.Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[InputDetails] CHECK CONSTRAINT [FK_dbo.InputDetails_dbo.Orders_OrderId]
GO
ALTER TABLE [dbo].[InputDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InputDetails_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InputDetails] CHECK CONSTRAINT [FK_dbo.InputDetails_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[Inputs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Inputs_dbo.Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inputs] CHECK CONSTRAINT [FK_dbo.Inputs_dbo.Cities_CityId]
GO
ALTER TABLE [dbo].[Inputs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Inputs_dbo.Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inputs] CHECK CONSTRAINT [FK_dbo.Inputs_dbo.Customers_CustomerId]
GO
ALTER TABLE [dbo].[Inputs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Inputs_dbo.Transporters_TransporterId] FOREIGN KEY([TransporterId])
REFERENCES [dbo].[Transporters] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inputs] CHECK CONSTRAINT [FK_dbo.Inputs_dbo.Transporters_TransporterId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Customers_CustomerId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Orders_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Orders_ParentId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[ProductGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductGroups_dbo.ProductGroupUnits_ProductGroupUnitId] FOREIGN KEY([ProductGroupUnitId])
REFERENCES [dbo].[ProductGroupUnits] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductGroups] CHECK CONSTRAINT [FK_dbo.ProductGroups_dbo.ProductGroupUnits_ProductGroupUnitId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.ProductCreators_ProductCreatorId] FOREIGN KEY([ProductCreatorId])
REFERENCES [dbo].[ProductCreators] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.ProductCreators_ProductCreatorId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.ProductForms_ProductFormId] FOREIGN KEY([ProductFormId])
REFERENCES [dbo].[ProductForms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.ProductForms_ProductFormId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.ProductGroups_ProductGroupId] FOREIGN KEY([ProductGroupId])
REFERENCES [dbo].[ProductGroups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.ProductGroups_ProductGroupId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.ProductStatus_ProductStatusId] FOREIGN KEY([ProductStatusId])
REFERENCES [dbo].[ProductStatus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.ProductStatus_ProductStatusId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId]
GO
