<section class="vbox">
    <section class="w-f scrollable">
        <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
            <!-- nav -->
            <nav class="nav-primary hidden-xs">
                <ul class="nav">
                    @*<li class="menuitem"><a href="/home/index"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>داشبورد</span></a></li>*@

                    <li id="infoLi" class="menuitem">
                        <a href="#">
                            <i class="fa fa-bars icon"><b class="bg-info"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>مدیریت اطلاعات پایه</span>
                        </a>
                        <ul class="nav lt">
                            <li>
                                <a href="/productgroups">
                                    <i class="fa fa-angle-left"></i><span>مدیریت گروه محصولات</span>
                                </a>
                            </li>
                            <li>
                                <a href="/products">
                                    <i class="fa fa-angle-left"></i><span>مدیریت محصولات</span>
                                </a>
                            </li>
                           <li>
                                <a href="/customers">
                                    <i class="fa fa-angle-left"></i><span>مدیریت تاجران</span>
                                </a>
                            </li>
                            <li>
                                <a href="/transporters">
                                    <i class="fa fa-angle-left"></i><span>مدیریت باربری ها</span>
                                </a>
                            </li>
                          
                            <li>
                                <a href="/ProductGroupUnits">
                                    <i class="fa fa-angle-left"></i><span>مدیریت واحد نوع کالا</span>
                                </a>
                            </li>
                          
                            <li>
                                <a href="/ProductCreators">
                                    <i class="fa fa-angle-left"></i><span>مدیریت سازندگان</span>
                                </a>
                            </li>
                          
                            <li>
                                <a href="/ProductForms">
                                    <i class="fa fa-angle-left"></i><span>مدیریت فرم محصولات</span>
                                </a>
                            </li>
                          
                            <li>
                                <a href="/ProductStatuses">
                                    <i class="fa fa-angle-left"></i><span>مدیریت وضعیت کالاها</span>
                                </a>
                            </li>
                          
                            <li>
                                <a href="/CutTypes">
                                    <i class="fa fa-angle-left"></i><span>مدیریت نوع برش</span>
                                </a>
                            </li>
                            <li>
                                <a href="/CutDetailTypes">
                                    <i class="fa fa-angle-left"></i><span> مدیریت نوع برش جزئیات</span>
                                </a>
                            </li>
                            <li>
                                <a href="/exitdrivers">
                                    <i class="fa fa-angle-left"></i><span> مدیریت راننده ها</span>
                                </a>
                            </li>
                            <li>
                                <a href="/orders/create">
                                    <i class="fa fa-angle-left"></i><span>افزودن حواله</span>
                                </a>
                            </li>
                            <li>
                                <a href="/CustomActions/index">
                                    <i class="fa fa-angle-left"></i><span>مدیریت فعالیت ها</span>
                                </a>
                            </li>
                        </ul>
                    </li> 

                    <li id="inputLi" class="menuitem"><a href="/inputs"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>ورود کالا</span></a></li>
                    <li id="inputLi" class="menuitem"><a href="/orders/list"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>دفتر ردیف</span></a></li>
                    @*<li id="orderLi" class="menuitem"><a href="/orders"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>بارگیری</span></a></li>
                    <li id="custLi" class="menuitem"><a href="/customers/list"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>انتقال</span></a></li>*@
                    <li id="exitLi" class="menuitem"><a href="/exits"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>خروج</span></a></li>
                    <li id="cutLi" class="menuitem"><a href="/Cut/index"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>برش</span></a></li>

                </ul>
            </nav>
        </div>
    </section>
</section>
